<div class="flex items-center space-x-1 rtl:space-x-reverse md:order-2 md:space-x-0">
    <DropdownHeaderWithIcon />
    <div class="z-50 my-4 hidden list-none divide-y divide-gray-100 rounded-lg bg-white text-base shadow dark:bg-gray-700" id="language-dropdown-menu">
        <ul class="py-2 font-medium" role="none">
            <DropdownElementWithIcon Text="@Languages.EnglishText" OnClickFunction="async () => await ChangeCulture(Languages.English)">
                <UnitedStatesFlagSvg />
            </DropdownElementWithIcon>
            <DropdownElementWithIcon Text="@Languages.SpanishText" OnClickFunction="async() => await ChangeCulture(Languages.Spanish)">
                <SpainFlagSvg />
            </DropdownElementWithIcon>
        </ul>
    </div>
    <button type="button" class="hidden h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 md:hidden dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="language-dropdown-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
    </button>
</div>