<div>
    <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
        <span class="sr-only">Open user menu</span>
        <UserIconSvg IconWidth="40" IconHeight="40" />
    </button>
</div>
<NavigationBarProfile UserData="UserData" />