<button id="language-dropdown" type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex cursor-pointer items-center justify-center rounded-lg px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white">
    @switch (Culture)
    {
        case Languages.English:
            <UnitedStatesFlagSvg />
            break;
        case Languages.Spanish:
            <SpainFlagSvg />
            break;
        default:
            <UnitedStatesFlagSvg />
            break;
    }
    @Text
</button>