@inherits ComponentBase

<li>
    <button class="group flex w-full items-center justify-between rounded-lg p-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
        <div class="flex items-center">
            @ChildContent
            <span class="ms-3 whitespace-nowrap">@Text</span>
        </div>
        <div class="flex items-center">
            <span class="ms-3 inline-flex items-center justify-center rounded-full bg-gray-100 px-2 text-sm font-medium text-gray-800 dark:bg-gray-700 dark:text-gray-300">@BadgeText</span>
        </div>
    </button>
</li>