<button id="@Id" type="@Type" class="inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="-ms-1 me-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 -0.5 21 21">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Dribbble-Light-Preview" transform="translate(-59.000000, -400.000000)" fill="#ffffff">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                    <path d="M3,260 L24,260 L24,258.010742 L3,258.010742 L3,260 Z M13.3341,254.032226 L9.3,254.032226 L9.3,249.950269 L19.63095,240 L24,244.115775 L13.3341,254.032226 Z" id="edit_fill-[#1480]">

                    </path>
                </g>
            </g>
        </g>
    </svg>
    @Text
</button>